<configuration>
    <system.web>
        <customErrors mode="Off"/>
    </system.web>

  <system.net>
    <mailSettings>
      <smtp from="test@foo.com">
        <network host="smtpserver1" port="25" userName="username" password="secret" 		defaultCredentials="true" />
      </smtp>
    </mailSettings>
  </system.net>

</configuration>